body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.driver-passenger-options {
    display: flex;
    justify-content: space-between;
}

.option {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 15px;
}

    .option h2 {
        margin-bottom: 20px;
    }

    .option ul {
        list-style: none;
        padding: 0;
    }

    .option li {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

        .option li img {
            width: 20px;
            margin-right: 10px;
        }

    .option button {
        background-color: #333;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
